	.main{
			border:#ccc solid 1px;
			margin:0 auto;
			width:1000px;
			height:1000px;
			position:relative;
		}
		.top-title{
			font-size:40px;
			color:#CCC;
			width:400px;
			height:70px;
			line-height:70px;
			margin:0 auto;
		}
		.top-user{
			width:500px;
			margin-right:100px;
			line-height:70px;
			height:70px;
			float:right;
		}
		.div-title{
			height:90px;
			width:200px;
			color:#347e81;
			border-radius:10px;
			text-align:center;
			line-height:90px;
			font-size:36px;
			cursor:pointer;
			background-color:#CCC;
		}
		.div-title:hover{
			background-color:#ff6640;
		}
		#movie-m{
			position:absolute;
			left:150px;
			top:100px;
		}
		#schedule-m{
			position:absolute;
			right:150px;
			top:100px;
		}
		#videohall-m{
			position:absolute;
			left:400px;
			top:350px;
		}
		#user-m{
			position:absolute;
			left:150px;
			top:600px;
		}
		#ticket-m{
			position:absolute;
			right:150px;
			top:600px;
		}